- # encoding: UTF-8


= stylesheet_link_tag "style-2", :media => "all"

div.wrap
	header.site-header
		h1.site-title
			/ img[src="images/logo.png" width="178" height="60" alt="GetReady"]

	section.main
		div.fade-in[id="intro"]
			h1 OIKAZE support writing sport diary for team-sport.
			p Almost sport team record practice note to write on paper.It's very annoying and tired.This servise can write it very easy and to write anywhere, to share my note. let's create account.


			= form_for(resource, as: resource_name, url: general_user_session_path(resource_name)) do |f| 
				div
					= f.label :email
					= f.text_field :email, autofocus: true 
				div
					= f.label :password 
					= f.password_field :password, autocomplete: "off"
				div
					= f.submit "sign in"

		div.fade-in[id="newsletter"]
			div
				center
					h2.login[id="login"] Login & signup
			div.form-wrap
				form[action="index.php" method="post" id="newsletter-form"]
					p.form-submit
						a.icon.ion-social-facebook.a_style[href="/auth/twitter" title="Twitter" id="newsletter_submit_left"] Twitterでログイン
					p.form-submit
						a.icon.ion-social-facebook.a_style[href="/auth/facebook" title="Facebook" id="newsletter_submit"] Facebookでログイン
				p.form-submit

					= link_to "メールアドレスで登録", new_general_user_registration_path, :class => "form-submit a_style", :id => "newsletter_submit_mail"



div.body-bg
div[id="preload"]

 
