= stylesheet_link_tag "style", :media => "all"
= stylesheet_link_tag "bootstrap", :media => "all"
section#reffernces.reffernces
  center
    = link_to 'HOME', index_path, :class => "mbnt"

  .container
    - if flash[:notice] 
      p.alert.alert-danger = flash[:notice]

    center
      h2
        | Listing teams
    center
      = link_to 'create team', new_team_path, :class => "mbnt"
    table.table.table-hover
      thead
        tr
          th
            | チーム名
          th
            | 目標
          th
            | 写真のpath
          th
          th
      tbody
        - @teams.each do |team|
          tr
            td
              = team.name
            td
              = team.destination
            td
              = image_tag team.image.thumb.url , :width => "100"
            td
              | <button class="btn btn-primary btn-sm" data-toggle="modal" data-target = "#confirm" id ="
              = team.id
              | " onclick="currentId(this.id)"name="trans">Join
#confirm.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        h3
          | チームのパスコード確認
      = form_tag(url_for(:action => 'pass_check'), :remote => true, :id => "result_form") do
        .modal-body[style = "height: 100px"]
          center
            = text_field_tag :pass
          = hidden_field_tag :current
        .modal-footer
          a.btn.btn-primary[data-dismiss="modal" id="cancel"]
            | Cancel
          = submit_tag "Login",:class => "btn btn-danger", :id => "login"
          
= javascript_include_tag "jquery.min.js"

javascript:
  var current;

  function currentId(id) {
    current = id;
    console.log(current)
    var field_id = document.getElementById('current')
    field_id.value = current;
  }
  
script[type="text/javascript"]
  |  $(function() { $('body').bind('ajaxComplete', function() { alert('ajaxComplete triggered'); }); }); var current; function currentId(id) { current = id; console.log(current) var field_id = document.getElementById('current') field_id.value = current; } function pass(id) { $.ajax({ type: "POST", url: "<ruby code="= url_for :action => :pass_check"></ruby>", data: {pass: 'sample', id: id}, success: function(msg){ console.log("success") } }); } function sendPassword() { var pass = document.getElementById('pass') console.log(pass.value) $.ajax({ type: "POST", url: "<ruby code="= url_for :action => :pass_check"></ruby>", data: "asdfasdf", success: function(msg){ console.log("success") }, error: function(data) { alert("errror"); } }); } 
