p#notice
  = notice
p
  strong
    | Name:
  = @team.name
p
  strong
    | Destination:
  = @team.destination
p
  strong
    | Image:
  = @team.image
p
  strong
    | Other:
  = @team.other
p
  strong
    | Password digest:
  = @team.password_digest
= link_to 'Edit', edit_team_path(@team)
|  | 
= link_to 'Back', teams_path
