= stylesheet_link_tag "bootstrap", :media => "all"
= stylesheet_link_tag "style", :media => "all"

section class="reffernces" id="reffernces" 
  - if flash[:notice] 
    p.alert.alert-danger = flash[:notice]
  center
    = link_to 'HOME', index_path, :class => "mbnt"


  div class="container" 
    center
      h2 新しく動画を追加

    = form_for @tech_log,:html => {:class => "form-horizontal"} do |f|
      div class="form-group" 
        = f.label 'タイトル', :class=>"col-sm-2 control-label", :align => "right"
        div class="col-sm-5" 
          = f.text_field :title, :class => "form-control"
      div class="form-group" 
        = f.label '詳細情報', :class=>"col-sm-2 control-label", :align => "right"
        div class="col-sm-5" 
          = f.text_area :destination, :class => "form-control", :rows => "4"

      div class="form-group" 
        = f.label '動画 : ', :class =>"col-sm-2 control-label", :align => "right"
        div class="col-sm-2" 
          input id="uploadFile"placeholder=("Choose File") disabled="disabled" class="form-control" 
        div class=("fileUpload btn btn-primary") 
          span Upload
          = f.file_field :video, :class => "upload", :id => "uploadBtn", :accept => 'video/*'
      div class="form-group" 
        div class=("actions col-sm-offset-2 col-sm-5") 
          center
            = f.submit '記入完了', :class => "btn btn-primary"

      = f.hidden_field :user_id, :class => "form-control"
      = f.hidden_field :team_id, :class => "form-control"

 
/! %script{:type => "text/javascript"}
javascript:
  document.getElementById("uploadBtn").onchange =  function () {
      document.getElementById("uploadFile").value = this.value;
  };
