= stylesheet_link_tag "bootstrap", :media => "all"
= stylesheet_link_tag "style", :media => "all"

section class="reffernces" id="reffernces" 
  div class="container" 
    div class="heading" 
      h2 技術動画一覧
      p チームや個人での技術情報を動画におさめてチーム内もしくは個人で記録してくおくことが出来ます。
      center
        = link_to 'New video', new_tech_log_path, :class => "mbnt"
    div class=("row waterfall" ) 
      - @tech_logs.each do |tech_log|
        div class=("col-lg-4 col-md-4 col-xs-12 col-sm-12 refBox") 
          div  class="refBoxcon" 
            = link_to tech_log.video_url.to_s do
              = image_tag tech_log.video_url(:screenshot).to_s, :id => "video", :alt => "screenshot", :width => "100%"
            h3= tech_log.title
            h4= tech_log.destination
