p#notice= notice

p
  b Title:
  = @tech_log.title
p
  b Destination:
  = @tech_log.destination
p
  b Tag:
  = @tech_log.tag
p
  b Video:
  = @tech_log.video
p
  b Other:
  = @tech_log.other

= link_to 'Edit', edit_tech_log_path(@tech_log)
| \|
= link_to 'Back', tech_logs_path
