

console.log("reder to confirm.js.erb");
console.log("<%= @title %>");
var button = document.getElementById("dialog");
var user_id = document.getElementById("comment_user");
var diary_id = document.getElementById("comment_diary");
var list = document.getElementById("comment_lists");
var graph_data = <%= getData() %>;

user_id.value = "<%= @comment.user_id %>";
diary_id.value = "<%= @comment.diary_id %>";
// user_id.value = @comment.user_id;
$('#chart').highcharts({
  title: {
      text: "<%= getsubTitle() %>",
  },
  tooltip: {
      valueSuffix: '[分]'
  },
  legend: {
      layout: 'vertical',
      align: 'right',
      verticalAlign: 'middle',
      borderWidth: 0
  },
  series: [{
      data: graph_data
  }]
});
button.click();


removeChildren(list);
var modal = document.getElementById("modal");
var height = 550 + 60 * <%= @comment_lists.size %>;
console.log(height);
modal.style.height =  height + "px";

<% @comment_lists.each do |com| %>

  console.log("<%= com.comment %>");
  var li = document.createElement("div");
  li.className = "well";
  <% user = user() %>
  li.textContent ="<%= user.name %>" + ": " + "<%= com.comment %>";

  list.appendChild(li); 

<% end %>

function removeChildren(x)
{
  if (x.hasChildNodes()) {
    while (x.childNodes.length > 0) {
      x.removeChild(x.firstChild)
    }
  }
}

