= stylesheet_link_tag "bootstrap", :media => "all"
= stylesheet_link_tag "style", :media => "all"
= stylesheet_link_tag "perfect-scrollbar", :media => "all"
= stylesheet_link_tag "font-awesome", :media => "all"
= stylesheet_link_tag "freelancer", :media => "all"
= stylesheet_link_tag "fallback", :media => "all"
link[href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,800,300" rel="stylesheet" type="text/css"]
header
  #banner.banner.row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.noPadd.slides-container[style="height:100%"]
      .slide
        .bannerText.container
          h1
            = @team.destination
          = link_to 'New Diary', new_diary_path, :class => "mbnt"
        = image_tag @team.image.url, :width => '100%', :height => '100%'
.menu
  .navbar-wrapper
    .container
      .navwrapper
        .navbar.navbar-inverse.navbar-static-top
          .container
            .navbar-header
              button.navbar-toggle[type="button" data-toggle="collapse" data-target=".navbar-collapse"]
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand[href="#"]
                | Menu
            .navbar-collapse.collapse
              ul.nav.navbar-nav.nav-justified
                li.first.menuItem.homeLink.active
                  = link_to 'HOME', index_path
                li.menuItem
                  = link_to 'My team', my_teams_path
                li.menuItem
                  = link_to 'Skills', tech_logs_path
                li.menuItem
                  = link_to 'Edit team', edit_team_path(@team)
                li.menuItem
                  = link_to 'Member',
                     members_index_path
                / li.menuItem
                /   = link_to 'Schedule', 

section#reffernces.reffernces
  .container
    .heading
      h2
        | Team's diary
    - @diary.each do |d|
      .row.workDetails
        .col-xs-12.col-sm-3.col-md-2.col-lg-2
          .workYear
            span.prevY
              = d.date
            button.btn.btn-default.detail[data-toggle = "modal" style="display:none;" data-target = "#diary_detail" id = "dialog" ] detail
            = form_tag(url_for(:controller => 'my_teams', :action => 'confirm'), :remote => true) do
              = hidden_field_tag "id", d.id
              = submit_tag "detail",:class => "btn btn-danger",:'data-target' => "#diary_detail"


        .col-xs-12.col-sm-9.col-md-10.col-lg-10.rightArea
          |  <div class="arrowpart" style="background-image:url(
          = asset_path "arrow-left.png"
          | )">
        .exCon
          - if d.user_id != nil
            - user_name = User.find_by(:id => d.user_id);
          - else 
            - user_name = GeneralUser.find_by(:id => d.likes);
          h4
            = d.menu
            | ~ #{user_name.name} ~
          h5
            = d.subtitle
          - @com = Comment.find(:all, :conditions => {:diary_id => d.id})
          p
            - d.other = h(d.other).gsub(/(\r\n?)|(\n)/, "<br />").html_safe
            = d.other
          p.comment
            | コメント : #{@com.size} 
          = form_tag(url_for(:controller => 'my_teams', :action => 'like'), :remote => true) do
            = hidden_field_tag "id", d.id
            = submit_tag "いいね : #{d.reputation_for(:likes).to_i}", :class => "like", :id => "like"

section#reffernces.reffernces
  .container
    .heading
      h2
        | Team's Gallery
    center
    center.pad
      = link_to 'upload photo', new_team_album_path, :class => "mbnt"

    ul.portfolioContainer.row.gallery
      - @teams_photo.each do |photo|
        li.branding.illustration.col-xs-6.col-sm-4.col-md-3.col-lg-3
          div.lightCon 
            span.hoverBox
            = image_tag photo.image.url, :width => "100%"




div.modal.fade[id="diary_detail" role="dialog"]
  .modal-dialog
    .modal-content
      .modal-header
        button.close[id = "close" data-dismiss="modal"]
          span[aria-hidden="true"]&times;

        h4.modal-title[id="label"] 日誌詳細
      .modal-body[id="modal"]
        center
          div[id="chart" width="400px" height="300px"]
        div[id="comment_lists"]
        / = form_for(@comment) do |f| 
        /   .field

        /     = f.text_field :comment 
        /   .field
        /     = f.hidden_field :user_id 
        /   .field
        /     = f.hidden_field :diary_id 
        /   .actions
        /     = f.submit

      .modal-footer
        = form_for(@comment, :url => {:controller => 'comments', :action => 'save_comment'}, :remote => true) do |f| 
          .input-group.style
            = f.text_field :comment, :class => "form-control col-sm-9"
            input[id="comment_user" name="user_id" type="hidden"]
            input[id="comment_diary" name="diary_id" type="hidden"]
            / = f.text_field :user_id
            / = f.text_field :diary_id
            .actions
              =f.submit 'submit', :class => "btn btn-default col-sm-2"


  javascript:
    $('#banner').superslides({
    }); 

  javascript:
    $(document).ready(function ($) {
      $('#description').perfectScrollbar({
        wheelSpeed: 20,
        wheelPropagation: false 
      }); 
    });
