(function($){

	$(window).load(function() {
		// Fade in site content
		setTimeout(function(){
			$('.site-title').css({ opacity: 0 });
			if ( $('#social-toggle').is(':hidden') )
				$('.site-footer').addClass('fade-in');
			$('.fade-in').css({ position: 'relative', opacity: 0, top: 28 });
			$('#preload').fadeOut(400);
			setTimeout(function(){
				$('.site-title').animate({ opacity: 1 }, 800, function(){
					$('.fade-in').each(function(index) {
						$(this).delay(400*index).animate({ top : 0, opacity: 1 }, 800);
					});
				});
			}, 800);
		}, 400);
	});

	$(document).ready( function(){

		// Create a countdown instance. Change the launchDay according to your needs.
		// The month ranges from 0 to 11. I specify the month from 1 to 12 and manually subtract the 1.
		// Thus the launchDay below denotes 7 May, 2014.
		var launchDay = new Date(2014, 5-1, 7);
		$('#timer').countdown({
			until: launchDay
		});

		// Add background slideshow
		$.backstretch([
			"<%= asset_path('lp1.jpg') %>",
			"<%= asset_path('lp2.jpg') %>",
			"<%= asset_path('lp3.jpg') %>"
		], {
			fade: 750,
			duration: 4000
		});

		// Vertical centering
		centerVertically();

		// Bind on resize or orientation change
		$(window).bind('resize orientationchange', function(){
			centerVertically();
		});
		
		// Show social profiles links on icon click
		var socToggle = $('#social-toggle'),
			socLinks = $('#social-links'),
			socLink = socLinks.find('li'),
			socLinkCount = socLink.length;

		socLink.each( function(i){
			$(this).hide().css({ top: i * (42 + 8), left: 0, marginLeft: i % 2 === 0 ? -24 : 24 });
		});
		socToggle.click(function(e){
			if ( socToggle.hasClass('ion-ios7-plus-empty') ) {
				socLink.each(function(i){
					$(this).show().animate({ opacity: 1, marginLeft: 0 }, 300);
				});
				socToggle.removeClass('ion-ios7-plus-empty').addClass('ion-ios7-minus-empty');
			} else {
				socLink.each(function(i){
					$(this).animate({ opacity: 0, marginLeft: i % 2 === 0 ? -24 : 24 }, 300, function(){ $(this).hide(); });
				});
				socToggle.removeClass('ion-ios7-minus-empty').addClass('ion-ios7-plus-empty');
			}
			e.preventDefault();
		});

		// Invoke the Placeholder plugin
		$('input, textarea').placeholder();

		// Validate newsletter form
		$('<div class="loading"></div>').hide().appendTo('.form-wrap');
		$('<div class="success"></div>').hide().appendTo('.form-wrap');
		$('#newsletter-form').validate({
			rules: {
				newsletter_email: { required: true, email: true }
			},
			messages: {
				newsletter_email: {
					required: 'Email address is required',
					email: 'Email address is not valid'
				}
			},
			errorElement: 'span',
			errorPlacement: function(error, element){
				error.appendTo(element.parent());
			},
			submitHandler: function(form){
				$(form).hide();
				$('.form-wrap .loading').css({ opacity: 0 }).show().animate({ opacity: 1 });
				$.post($(form).attr('action'), $(form).serialize(), function(data){
					$('.form-wrap .loading').animate({opacity: 0}, function(){
						$(this).hide();
						$('.form-wrap .success').show().html('<p>Thank you for subscribing!</p>').animate({opacity: 1});
					});
				});
				return false;
			}
		});
		
	});

	function centerVertically() {
		var wrap = $('.wrap'),
			diff = $(window).height() - $('.wrap').height();
		if ( diff > 84 ) {
			var margin = Math.floor(diff/2);
			wrap.css({ marginTop: margin, marginBottom: margin });
		} else {
			wrap.removeAttr('style');
		}
	}

})(jQuery);