= stylesheet_link_tag "bootstrap", :media => "all" 
= stylesheet_link_tag "style", :media => "all"


section.reffernces[id = "reffernces"]
  div.container
	h2 Sign up

	= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "form-horizontal"}) do |f| 
		= devise_error_messages! 
		div.form-group
			= f.label :name, :class => "col-sm-2" 
			div.col-sm-5
				= f.text_field :name, autofocus: true ,:class => "form-control"
		div.form-group
			= f.label "性別", :class => "col-sm-2" 
			div.col-sm-5
				= f.text_field :sex, autofocus: true ,:class => "form-control"
		div.form-group
			= f.label "種目", :class => "col-sm-2" 
			div.col-sm-5
				= f.text_field :sporting_event, autofocus: true ,:class => "form-control"
		div.form-group
			= f.label "目標", :class => "col-sm-2" 
			div.col-sm-5
				= f.text_field :destination, autofocus: true ,:class => "form-control"

		div.form-group
			= f.label '写真 : ', :class =>"col-sm-2 control-label", :align => "right" 
			div.col-sm-2
			 	input.form-control[id = "uploadFile" placeholder = "Choose File"  disabled = "disabled"]
			div.fileUpload.btn.btn-primary
				span Upload
				= f.file_field :image, :class => "upload", :id => "uploadBtn"



		div.form-group
			= f.label :email, :class => "col-sm-2" 
			div.col-sm-5
				= f.email_field :email, autofocus: true ,:class => "form-control"
		div.form-group
			= f.label :password, :class => "col-sm-2"
			div.col-sm-5 
		    	= f.password_field :password, autocomplete: "off", :class => "form-control"

		div.form-group
			= f.label :password_confirmation, :class => "col-sm-2"
			div.col-sm-5
				= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" 
		div.col-sm-offset-2
			= f.submit "Sign up", :class => "btn btn-primary" 
