// Place all the styles related to the lp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.a_style {
	color: #FFF;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
}

