.options {
	border : 0px;
}
.box {
	display: inline;
}
.detail {
	margin-top: 10px;
}
.comment {
	padding-bottom: 0px;
	font-weight: bold;
	padding-left: 11px;
}
.like {
	font-weight: bold;
	font-size: 20px;
	border: 0px;
	color: #897f8a;
	font-family: 'Open Sans', sans-serif;
}

#sample {
	height: 100%;
	width: 100%;
}

.style {
	margin-bottom: 10px;
	width: 100%;
}
.form-style {
	width: 70%
}

#comment_lists p {
	font-size: 12px;
	line-height: 2px;
}