// Place all the styles related to the my_team controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pad {
	margin-bottom: 30px;
}

.comment {
	padding-bottom: 0px;
	font-weight: bold;
	padding-left: 11px;
}
.like {
	font-weight: bold;
	font-size: 20px;
	border: 0px;
	color: #897f8a;
	font-family: 'Open Sans', sans-serif;
}
