// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pass {
	font-size: 23px;
	margin-top: 20px;
	border: 1px solid #000;
}