= form_for @team_album, :html => {:class => "form-horizontal"} do |f|
  - if @team_album.errors.any?
    #error_explanation
      h2
        = pluralize(@team_album.errors.count, "error")
        |  prohibited this team_album from being saved:
      ul
        - @team_album.errors.full_messages.each do |msg|
          li
            = msg

  form.form-horizontal[role="form"]
    .form-group
      = f.label '写真 : ', :class =>"col-sm-2 control-label", :align => "right"
      .col-sm-2
        input#uploadFile.form-control[placeholder="Choose File" disabled="disabled"]
      .fileUpload.btn.btn-primary
        span
          | choose photo
        = f.file_field :image, :class => "upload", :id => "uploadBtn"

    .form-group
      =f.label 'タイトル', :class => "col-sm-2 control-label", :align => "right"
      .col-sm-5
        =f.text_field :title, :class => "form-control"

    .form-group
      .actions.col-sm-offset-2.col-sm-5
        center
          = f.submit 'upload', :class => "btn btn-primary"


javascript:
  document.getElementById("uploadBtn").onchange =  function () {
      document.getElementById("uploadFile").value = this.value;
  };
          
