h1
  | Listing team_albums
table
  thead
    tr
      th
        | Image
      th
        | Title
      th
        | Destination
      th
        | Other
      th
        | Team
      th
        | User
      th
      th
      th
  tbody
    - @team_albums.each do |team_album|
      tr
        td
          = team_album.image
        td
          = team_album.title
        td
          = team_album.destination
        td
          = team_album.other
        td
          = team_album.team_id
        td
          = team_album.user_id
        td
          = link_to 'Show', team_album
        td
          = link_to 'Edit', edit_team_album_path(team_album)
        td
          = link_to 'Destroy', team_album, method: :delete, data: { confirm: 'Are you sure?' }
br
= link_to 'New Team album', new_team_album_path
