= stylesheet_link_tag "bootstrap", :media => "all"
= stylesheet_link_tag "style", :media => "all"

section#reffernces.reffernces
	- if flash[:notice] 
    	p.alert.alert-danger = flash[:notice]

 	center
    	= link_to 'HOME', index_path, :class => "mbnt"
    center
		h2
			| New photo
	= render 'form'
