p#notice
  = notice
p
  strong
    | Image:
  = @team_album.image
p
  strong
    | Title:
  = @team_album.title
p
  strong
    | Destination:
  = @team_album.destination
p
  strong
    | Other:
  = @team_album.other
p
  strong
    | Team:
  = @team_album.team_id
p
  strong
    | User:
  = @team_album.user_id
= link_to 'Edit', edit_team_album_path(@team_album)
|  | 
= link_to 'Back', team_albums_path
