= stylesheet_link_tag "bootstrap", :media => "all"
= stylesheet_link_tag "style", :media => "all"


= form_for @diary,:html => {:class => "form-horizontal"} do |f|
  - if @diary.errors.any?
    #error_explanation
      h2
        = pluralize(@diary.errors.count, "error")
        |  prohibited this diary from being saved:
      ul
        - @diary.errors.full_messages.each do |msg|
          li
            = msg
  form.form-horizontal[role="form"]
    .form-group
      = f.label '練習メニュー', :class =>"col-sm-2 control-label", :align => "right"
      .col-sm-5
        = f.text_field :menu, :class => "form-control"
    .form-group
      = f.label '日付 : ', :class =>"col-sm-2 control-label"
      .col-sm-5
        = f.text_field :date, :class => "form-control"
    .form-group
      = f.label 'サブメニュー : ', :class =>"col-sm-2 control-label", :align => "right"
      .col-sm-5
        = f.text_field :subtitle, :class => "form-control"
    .form-group
      = f.label '感想 : ', :class =>"col-sm-2 control-label", :align => "right"
      .col-sm-5
        = f.text_area :other, :class => "form-control", :rows => "4"
      button.btn.btn-default[id="easy" data-toggle="modal" data-target = "#easy_input"] 簡単入力
    .form-group
      = f.label '写真 : ', :class =>"col-sm-2 control-label", :align => "right"
      .col-sm-2
        input#uploadFile.form-control[placeholder="Choose File" disabled="disabled"]
      .fileUpload.btn.btn-primary
        span
          | Upload
        = f.file_field :image, :class => "upload", :id => "uploadBtn"
    .form-group
      = f.label '記録 : ', :class =>"col-sm-2 control-label", :align => "right"
      .col-sm-5
        - if @record == nil
          input.form-control[name="time" type="text" placeholder='例:3分20秒 -> 3.20']
        - else
          |  <input class = "form-control" name = "time" type="text" value="
          = @record.time
          | "> 
    .field
      = f.text_field :user_id
    .field
      = f.hidden_field :team_id
    .field
      = f.text_field :likes
    .form-group
      .actions.col-sm-offset-2.col-sm-5
        center
          = f.submit '記入完了', :class => 'btn btn-primary'
 
div.modal.fade[id="easy_input" role="dialog"]
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title[id="label"] 簡単入力
      .modal-body[style="height:150px"]
        form[name="check"]
          - @easy.each do |easy|
            div.checkbox
              label
                input[type="checkbox" value="#{easy}"] = easy


      .modal-footer
        a.btn.btn-primary[data-dismiss="modal" id="cancel"]
          | Cancel
        button.btn.btn-danger[id="submit" onclick="submit()"] submit

javascript:
  document.getElementById("uploadBtn").onchange = function () {
     document.getElementById("uploadFile").value = this.value; 
  }; 

  function submit() {
    var str="";
    var text = document.getElementById("diary_other");
    var cancel = document.getElementById("cancel");

    for( i=0; i<5; i++ ) {
      if(document.check.elements[i].checked ) {
        if( str != "" ) str=str+",";
        str=str+document.check.elements[i].value;
      }
      console.log(str);
      text.value = str;
    }
    cancel.click();

  }

script[type="text/javascript"]
  |  function upload_image() { var filename = document.getElementById('file'); console.log(filename.id) console.log(filename.value) $.ajax({ type: "POST", url: "<ruby code="= url_for :action => :data_save"></ruby>", data: {url: filename.value}, success: function(msg) { console.log("success") } }); } document.getElementById("uploadBtn").onchange = function () { document.getElementById("uploadFile").value = this.value; }; 
