h1
  | Listing diaries
table
  thead
    tr
      th
        | Menu
      th
        | Date
      th
        | Subtitle
      th
        | Other
      th
        | User
      th
        | Team
      th
      th
      th
  tbody
    - @diaries.each do |diary|
      tr
        td
          = diary.menu
        td
          = diary.date
        td
          = diary.subtitle
        td
          = diary.other
        td
          = diary.user_id
        td
          = diary.team_id
        td
          = link_to 'Show', diary
        td
          = link_to 'Edit', edit_diary_path(diary)
        td
          = link_to 'Destroy', diary, method: :delete, data: { confirm: 'Are you sure?' }
br
= link_to 'New Diary', new_diary_path
