= stylesheet_link_tag "bootstrap", :media => "all"
= stylesheet_link_tag "style", :media => "all"
section#reffernces.reffernces
  center
    = link_to 'HOME', index_path, :class => "mbnt"

  .container
	- if flash[:notice] 
    	p.alert.alert-danger = flash[:notice]
    center
	  h2
	    | New Diary
	= render 'form'
= javascript_include_tag "bootstrap"
