p#notice
  = notice
p
  strong
    | Menu:
  = @diary.menu
p
  strong
    | Date:
  = @diary.date
p
  strong
    | Subtitle:
  = @diary.subtitle
p
  strong
    | Other:
  = @diary.other
p
  strong
    | User:
  = @diary.user_id
p
  strong
    | Team:
  = @diary.team_id
= link_to 'Edit', edit_diary_path(@diary)
|  | 
= link_to 'Back', diaries_path
