= stylesheet_link_tag "bootstrap", :media => "all"
= stylesheet_link_tag "style", :media => "all"


section class="reffernces" id="reffernces" 
  - if flash[:notice] 
    p.alert.alert-danger = flash[:notice]

  div class="container" 
    center
      h2 ユーザー情報
    = form_for @user,:html => {:class => "form-horizontal"} do |f|
      div class="form-group" 
        = f.label '名前', :class=>"col-sm-2 control-label", :align => "right"
        div class="col-sm-5" 
          = f.text_field :name, :class => "form-control"
      div class="form-group" 
        = f.label '性別', :class=>"col-sm-2 control-label", :align => "right"
        div class="col-sm-5" 
          = f.text_field :sex, :class => "form-control"
      div class="form-group" 
        = f.label '種目', :class=>"col-sm-2 control-label", :align => "right"
        div class="col-sm-5" 
          = f.text_field :sporting_event, :class => "form-control"

      div class="form-group" 
        = f.label '目標', :class=>"col-sm-2 control-label", :align => "right"
        div class="col-sm-5" 
          = f.text_area :destination, :class => "form-control",:rows => "4"

      div class="form-group" 
        = f.label '写真 : ', :class =>"col-sm-2 control-label", :align => "right"
        div class="col-sm-2" 
          input id="uploadFile"placeholder=("Choose File") disabled="disabled" class="form-control" 
        div class=("fileUpload btn btn-primary") 
          span Upload
          = f.file_field :image, :class => "upload", :id => "uploadBtn"

      div class="form-group" 
        div class=("actions col-sm-offset-2 col-sm-5") 
          center
            = f.submit '記入完了', :class => "btn btn-primary"
      = f.hidden_field :uid, :class => "form-control"
      = f.hidden_field :birthday, :class => "form-control"
      = f.hidden_field :password, :class => "form-control"

      
javascript:
  document.getElementById("uploadBtn").onchange = function () {
    document.getElementById("uploadFile").value = this.value;
  };


