h1
  | Listing users
table
  thead
    tr
      th
        | Name
      th
        | Birthday
      th
        | Image
      th
        | Destination
      th
        | Sex
      th
        | Password
      th
        | Sporting event
      th
      th
      th
  tbody
    - @users.each do |user|
      tr
        td
          = user.name
        td
          = user.birthday
        td
          = user.image
        td
          = user.destination
        td
          = user.sex
        td
          = user.password
        td
          = user.sporting_event
        td
          = link_to 'Show', user
        td
          = link_to 'Edit', edit_user_path(user)
        td
          = link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
br
= link_to 'New User', new_user_path
