p#notice
  = notice
p
  strong
    | Name:
  = @user.name
p
  strong
    | Birthday:
  = @user.birthday
p
  strong
    | Image:
  = @user.image
p
  strong
    | Destination:
  = @user.destination
p
  strong
    | Sex:
  = @user.sex
p
  strong
    | Password:
  = @user.password
p
  strong
    | Sporting event:
  = @user.sporting_event
= link_to 'Edit', edit_user_path(@user)
|  | 
= link_to 'Back', users_path
