= form_for @record do |f|
  - if @record.errors.any?
    #error_explanation
      %h2= "#{pluralize(@record.errors.count, "error")} prohibited this record from being saved:"
      %ul
        - @record.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :time
    = f.text_field :time
  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :diary_id
    = f.text_field :diary_id
  .field
    = f.label :lap
    = f.text_field :lap
  .field
    = f.label :rlp
    = f.text_field :rlp
  .actions
    = f.submit 'Save'
