%h1 Listing records

%table
  %tr
    %th Title
    %th Time
    %th User
    %th Diary
    %th Lap
    %th Rlp
    %th
    %th
    %th

  - @records.each do |record|
    %tr
      %td= record.title
      %td= record.time
      %td= record.user_id
      %td= record.diary_id
      %td= record.lap
      %td= record.rlp
      %td= link_to 'Show', record
      %td= link_to 'Edit', edit_record_path(record)
      %td= link_to 'Destroy', record, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Record', new_record_path
