%p#notice= notice

%p
  %b Title:
  = @record.title
%p
  %b Time:
  = @record.time
%p
  %b User:
  = @record.user_id
%p
  %b Diary:
  = @record.diary_id
%p
  %b Lap:
  = @record.lap
%p
  %b Rlp:
  = @record.rlp

= link_to 'Edit', edit_record_path(@record)
\|
= link_to 'Back', records_path
