= form_for(@diary_image) do |f|
  - if @diary_image.errors.any?
    #error_explanation
      h2
        = pluralize(@diary_image.errors.count, "error")
        |  prohibited this diary_image from being saved:
      ul
        - @diary_image.errors.full_messages.each do |msg|
          li
            = msg
  .field
    = f.label :image
    br
    = f.file_field :image
    |  （画像用に追加したカラムの名前） 
  .field
    = f.label :team_id
    br
    = f.number_field :team_id
  .field
    = f.label :diary_id
    br
    = f.number_field :diary_id
  .field
    = f.label :user_id
    br
    = f.number_field :user_id
  .field
    = f.label :title
    br
    = f.text_field :title
  .field
    = f.label :destination
    br
    = f.text_field :destination
  .field
    = f.label :other
    br
    = f.text_field :other
  .actions
    = f.submit
