h1
  | Listing diary_images
table
  thead
    tr
      th
        | Image
      th
        | Team
      th
        | Diary
      th
        | User
      th
        | Title
      th
        | Destination
      th
        | Other
      th
      th
      th
  tbody
    - @diary_images.each do |diary_image|
      tr
        td
          = diary_image.image
        td
          = diary_image.team_id
        td
          = diary_image.diary_id
        td
          = diary_image.user_id
        td
          = diary_image.title
        td
          = diary_image.destination
        td
          = diary_image.other
        td
          = link_to 'Show', diary_image
        td
          = link_to 'Edit', edit_diary_image_path(diary_image)
        td
          = link_to 'Destroy', diary_image, method: :delete, data: { confirm: 'Are you sure?' }
br
= link_to 'New Diary image', new_diary_image_path
