p#notice
  = notice
p
  strong
    | Image:
  = @diary_image.image
p
  strong
    | Team:
  = @diary_image.team_id
p
  strong
    | Diary:
  = @diary_image.diary_id
p
  strong
    | User:
  = @diary_image.user_id
p
  strong
    | Title:
  = @diary_image.title
p
  strong
    | Destination:
  = @diary_image.destination
p
  strong
    | Other:
  = @diary_image.other
= link_to 'Edit', edit_diary_image_path(@diary_image)
|  | 
= link_to 'Back', diary_images_path
