= form_for(@my_page) do |f|
  - if @my_page.errors.any?
    #error_explanation
      h2
        = pluralize(@my_page.errors.count, "error")
        |  prohibited this my_page from being saved:
      ul
        - @my_page.errors.full_messages.each do |msg|
          li
            = msg
  .actions
    = f.submit
