= stylesheet_link_tag "bootstrap", :media => "all"
= stylesheet_link_tag "style", :media => "all"
= stylesheet_link_tag "perfect-scrollbar", :media => "all"
= stylesheet_link_tag "font-awesome", :media => "all"
= stylesheet_link_tag "fallback", :media => "all"
= stylesheet_link_tag "my_page", :media => "all"
link[href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,800,300" rel="stylesheet" type="text/css"]
header
  #banner.banner.row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.noPadd.slides-container[style="height:100%"]
      div
        .bannerText.container
          h1
            = @user.destination
          = link_to 'New Diary', new_diary_path, :class => "mbnt"
        = image_tag @user.image.url, :width => '100%', :height => '100%'
          h1
.menu
  .navbar-wrapper
    .container
      .navwrapper
        .navbar.navbar-inverse.navbar-static-top
          .container
            .navbar-header
              button.navbar-toggle[type="button" data-toggle="collapse" data-target=".navbar-collapse"]
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand[href="#"]
                | Menu
            .navbar-collapse.collapse
              ul.nav.navbar-nav.nav-justified
                li.first.menuItem.homeLink.active
                  = link_to 'HOME', index_path
                li.menuItem
                  = link_to 'My team', my_teams_path
                li.menuItem
                  = link_to 'Skills', tech_logs_path
                li.menuItem
                  - if session[:user_id] != nil
                    = link_to "Edit profile", edit_user_path(@user)
                  - else 
                    = link_to "Edit ", edit_general_user_registration_path(@user)
                li.menuItem
                  = link_to "show Temas", teams_path
                li.menuItem
                  = link_to "logout", destroy_general_user_session_path, :method => :delete
  section#reffernces.reffernces
    .container
      .heading
        h2
          | My diary


      - @diary.each do |d|
        .row.workDetails
          .col-xs-12.col-sm-3.col-md-2.col-lg-2
            .workYear
              span.prevY
                = d.date
              button.btn.btn-default.detail[data-toggle = "modal" style="display:none;" data-target = "#diary_detail" id = "dialog" ] detail
              = form_tag(url_for(:controller => 'my_pages', :action => 'confirm'), :remote => true) do
                = hidden_field_tag "id", d.id
                = submit_tag "detail",:class => "btn btn-danger",:'data-target' => "#diary_detail"


          .col-xs-12.col-sm-9.col-md-10.col-lg-10.rightArea
            |  <div class="arrowpart" style="background-image:url(
            = asset_path "arrow-left.png"
            | )">
          .exCon
            div
              h4.box
                = d.menu
              .btn-group
                button.btn.btn-default.btn-xs.dropdown-toggle.box[type="button" data-toggle="dropdown"]
                  span.caret
                ul.dropdown-menu
                  li
                    = link_to '削除', d, :method => :delete, :data => {:confirm => 'Are you sure?'}
                  li
                    = link_to '編集 ', edit_diary_path(d)
            h5
              = d.subtitle

            p
              - d.other = h(d.other).gsub(/(\r\n?)|(\n)/, "<br />").html_safe

              = d.other
            - @com = Comment.find(:all, :conditions => {:diary_id => d.id})
            p.comment
              | コメント : #{@com.size} 
            = form_tag(url_for(:controller => 'my_pages', :action => 'like'), :remote => true) do
              
              = submit_tag "いいね : #{d.reputation_for(:likes).to_i}", :class => "like", :id => "like"





div.modal.fade[id="diary_detail" role="dialog"]
  .modal-dialog
    .modal-content
      .modal-header
        button.close[id="close" data-dismiss="modal"]
          span[aria-hidden="true"]&times;
        h4.modal-title[id="label"] 日誌詳細
      .modal-body[id="modal"]
        center
          div[id="chart" width="400px" height="300px"]
        center
          h4 コメント一覧
          br
        div[id="comment_lists"]
        / = form_for(@comment) do |f| 
        /   .field

        /     = f.text_field :comment 
        /   .field
        /     = f.hidden_field :user_id 
        /   .field
        /     = f.hidden_field :diary_id 
        /   .actions
        /     = f.submit

      .modal-footer
        = form_for(@comment, :url => {:controller => 'comments', :action => 'save_comment'}, :remote => true) do |f| 
          .input-group.style
            = f.text_field :comment, :class => "form-control col-sm-9"
            input[id="comment_user" name="user_id" type="hidden"]
            input[id="comment_diary" name="diary_id" type="hidden"]
            / = f.text_field :user_id
            / = f.text_field :diary_id
            .actions
              =f.submit 'submit', :class => "btn btn-default col-sm-2"


  script[type="text/javascript"]
    |  $(document).ready(function ($) { $('#description').perfectScrollbar({ wheelSpeed: 20, wheelPropagation: false }); });

  javascript:
    $('#banner').superslides({
    }); 

  javascript:
    $(document).ready(function ($) {
      $('#description').perfectScrollbar({
        wheelSpeed: 20,
        wheelPropagation: false 
      }); 
    });


  javascript:
    var id;

    function likes(value) {
      console.log('hello world');    
      console.log(value);
    }

    function display(diary) {
    }   
