// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#link {
	color: #000;
	font-size: 20px;
	padding-top: 0px;
	border: 0px;
}

#link:hover {
	background-color: #FFF;
}

#destination {
	font-size: 20px;
}