link[href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,800,300" rel="stylesheet" type="text/css"]
header
  #banner.banner.row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.noPadd.slides-container[style="height:100%"]
      .slide
        .bannerText.container
          h1
            = @team.destination
          = link_to 'New Diary', new_diary_path, :class => "mbnt"
        = image_tag @team.image.url, :width => '100%', :height => '100%'
.menu
  .navbar-wrapper
    .container
      .navwrapper
        .navbar.navbar-inverse.navbar-static-top
          .container
            .navbar-header
              button.navbar-toggle[type="button" data-toggle="collapse" data-target=".navbar-collapse"]
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand[href="#"]
                | Menu
            .navbar-collapse.collapse
              ul.nav.navbar-nav.nav-justified
                li.first.menuItem.homeLink.active
                  = link_to 'HOME', index_path
                li.menuItem
                  = link_to 'My team', my_teams_path
                li.menuItem
                  = link_to 'Skills', tech_logs_path
                li.menuItem
                  = link_to 'Edit team', edit_team_path(@team)
                li.menuItem
                  = link_to 'Member', members_index_path


section#reffernces.reffernces
  .container
    center
      h2
        | members
    table.table.table-hover
      thead
        tr
          th
            | サムネイル

          th
            | 名前
          th
            | 目標
      tbody
        - @member.each do |m|
          tr
            td
              = image_tag m.image.url , :width => "100"
            td
              = link_to m.name, member_path(m), :id => "link"
            td[id="destination"]
              = m.destination

