

link[href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,800,300" rel="stylesheet" type="text/css"]
header
  #banner.banner.row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.noPadd.slides-container[style="height:100%"]
      .slide
        .bannerText.container
          h1
            = @user.destination
        = image_tag @user.image.url, :width => '100%', :height => '100%'
.menu
  .navbar-wrapper
    .container
      .navwrapper
        .navbar.navbar-inverse.navbar-static-top
          .container
            .navbar-header
              button.navbar-toggle[type="button" data-toggle="collapse" data-target=".navbar-collapse"]
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand[href="#"]
                | Menu
            .navbar-collapse.collapse
              ul.nav.navbar-nav.nav-justified
                li.first.menuItem.homeLink.active
                  = link_to 'HOME', index_path


section#reffernces.reffernces
  .container
    center
      h2
        | #{@user.name}

    - @diary.each do |d|
      .row.workDetails
        .col-xs-12.col-sm-3.col-md-2.col-lg-2
          .workYear
            span.prevY
              = d.date
            button.btn.btn-default.detail[data-toggle = "modal" style="display:none;" data-target = "#diary_detail" id = "dialog" ] detail
            = form_tag(url_for(:controller => 'my_teams', :action => 'confirm'), :remote => true) do
              = hidden_field_tag "id", d.id
              = submit_tag "detail",:class => "btn btn-danger",:'data-target' => "#diary_detail"


        .col-xs-12.col-sm-9.col-md-10.col-lg-10.rightArea
          |  <div class="arrowpart" style="background-image:url(
          = asset_path "arrow-left.png"
          | )">
        .exCon
          h4
            = d.menu
          h5
            = d.subtitle
          - @com = Comment.find(:all, :conditions => {:diary_id => d.id})
          p
            - d.other = h(d.other).gsub(/(\r\n?)|(\n)/, "<br />").html_safe
            = d.other
          p.comment
            | コメント : #{@com.size} 
          = form_tag(url_for(:controller => 'my_teams', :action => 'like'), :remote => true) do
            = hidden_field_tag "id", d.id
            = submit_tag "いいね : #{d.reputation_for(:likes).to_i}", :class => "like", :id => "like"

